{% extends 'base.html' %}

{%block content%}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--partie principale-->
    <section class="cosp_1">
        <img src="../static/img/G.jpg" class="img-fluid" id="imgcs" alt="">
        <div class="position-absolute top-50 end-50 text-light ps-5 pt-5 text-center">
            <p>
                Préparez-vous à plonger dans un monde fantastique et
                vibrant d'animations époustouflantes ! Rejoignez-nous pour
                découvrir des projections exclusives, des séances de
                dédicaces avec des artistes renommés et des activités
                interactives qui raviront les amateurs d'anime. Réservez dès
                maintenant votre billet et préparez-vous à vivre une
                expérience immersive au coeur de votre univers animé
                préféré.
            </p>
        </div>
    </section>

    <ul class="nav justify-content-center bg-body-tertiary mt-5 p-3 mb-2 bg-success-subtle text-emphasis-success">
      <li class="nav-item">
        <a class="nav-link active text-success fw-bold" aria-current="page" href="/consert&spectacle">Concert & Spectacle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success fw-bold" href="/Sport">Sport</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success fw-bold" href="/Conpherence">Conphérence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success fw-bold" href="/Theatre">Theatre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success fw-bold" href="/Festival">Festival</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-success fw-bold" href="/Anime">Animé</a>
      </li>
    </ul>

    <script src="../static/script.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
     <div class="container">
            <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
                <h1 class="gallery-title">Animé</h1>
            </div>
    
            <div class="text-center">
                <button class="btn btn-default filter-button" data-filter="all">All</button>
                <button class="btn btn-default filter-button" data-filter="tiji">TIJI</button>
                <button class="btn btn-default filter-button" data-filter="biwi">BIWI</button>
                <button class="btn btn-default filter-button" data-filter="robo">ROBOTIQUE</button>
            </div>
            <br/>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tiji">
                  <div class="card" style="width: 18rem;">
                    <img src="../static/img/A.jpg" class="card-img-top" width="40%" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Anime tiji</h5>
                      <p class="fs-6">Au palais le 21/22/20011 à 12h45</p>
                      <a href="#" class="btn btn-success">Reserve</a>
                    </div>
                  </div>
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter biwi">
                  <div class="card" style="width: 18rem;">
                    <img src="../static/img/B.jpg" class="card-img-top" width="40%" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Anime biwi</h5>
                      <p class="fs-6">Au palais le 21/22/20011 à 12h45</p>
                      <a href="#" class="btn btn-success">Reserve</a>
                    </div>
                  </div>
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter tiji">
                  <div class="card" style="width: 18rem;">
                    <img src="../static/img/H.jpg" class="card-img-top" width="40%" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Anime tiji</h5>
                      <p class="fs-6">Au palais le 21/22/20011 à 12h45</p>
                      <a href="#" class="btn btn-success">Reserve</a>
                    </div>
                  </div>
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter robo">
                  <div class="card" style="width: 18rem;">
                    <img src="../static/img/D.jpg" class="card-img-top" width="40%" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Anime robotique</h5>
                      <p class="fs-6">Au palais le 21/22/20011 à 12h45</p>
                      <a href="#" class="btn btn-success">Reserve</a>
                    </div>
                  </div>
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter biwi">
                  <div class="card" style="width: 18rem;">
                    <img src="../static/img/E.jpg" class="card-img-top" width="40%" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Anime biwi</h5>
                      <p class="fs-6">Au palais le 21/22/20011 à 12h45</p>
                      <a href="#" class="btn btn-success">Reserve</a>
                    </div>
                  </div>
                </div>
    
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter robo">
                  <div class="card" style="width: 18rem;">
                    <img src="../static/img/F.jpg" class="card-img-top" width="40%" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Anime robotique</h5>
                      <p class="fs-6">Au palais le 21/22/20011 à 12h45</p>
                      <a href="#" class="btn btn-success">Reserve</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
{%endblock%}