{% extends 'base.html' %}

{%block content%}
    <!-- partie principale
    <main> -->
      <section class="vh-100" style="background-color: #619e5c;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                      alt="login form" class="img-fluid" style="border-radius: 0.9rem 0 0 0.9rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form action="/Connection" method="POST">
      
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-2" style="color: #19ff3f;"></i>
                          <span class="h1 fw-bold mb-0 text-success">DJIB-billet</span>
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Counnectez vous sur votre compte</h5>
      
                        <div class="form-outline mb-4">
                          <label class="form-label" id="form2Example17">Adresse email</label>
                          <input type="email" for="form2Example17" class="form-control form-control-lg" name="email" required/>
                        </div>
      
                        <div class="form-outline mb-4">
                          <label class="form-label" id="form2Example27">Mot de passe</label>
                          <input type="password" for="form2Example27" class="form-control form-control-lg" name="password" required/>
                        </div>
      
                        <div class="pt-1 mb-4">
                          <button type="submit" class="btn btn-success btn-lg btn-block" type="button">connecte</button>
                        </div>

                        <!-- Register buttons -->
                      <div class="text-center">
                        <p><a href="#!">Forget the password</a></p>
                        <p><a href="/Inscription">Crée un nouveau compte</a></p>
                        <button type="button" class="btn btn-success btn-floating mx-1">
                          <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-success btn-floating mx-1">
                          <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-success btn-floating mx-1">
                          <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-success btn-floating mx-1">
                          <i class="fab fa-github"></i>
                        </button>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{%endblock%}