{% extends 'base.html' %}

{% block content %}
    <!--partie principale-->
    <main>
        <section class="eve-1">
            <img src="../static/img/T.jpg" class="img-fluid">
            <p>Retrouvez l'événement qui a captivé votre imagination en
                explorant notre site. Nous avons regroupé avec soin une
                multitude d'événements qui sauront satisfaire vos désirs et
                vous offrir une expérience à la hauteur de vos attentes.
            </p>
        </section>

        <ul class="nav justify-content-center bg-body-tertiary mt-5 p-3 mb-2 bg-success-subtle text-emphasis-success">
          <li class="nav-item">
            <a class="nav-link active text-success fw-bold" aria-current="page" href="/consert&spectacle">Concert & Spectacle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success fw-bold" href="/Sport">Sport</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success fw-bold" href="/Conpherence">Conphérence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success fw-bold" href="/Theatre">Theatre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success fw-bold" href="/Festival">Festival</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success fw-bold" href="/Anime">Animé</a>
          </li>
        </ul>

        <!-- <div class="eve-11">
          <div class="d-flex flex-row mb-3">
            <div class="p-2"><i class="fa-solid fa-filter"></i>Filtre</div>
            <div class="p-2">
              <select class="form-select" aria-label="Default select example">
                <option selected>Djibouti</option>
                <option value="2">Ali-Sabieh</option>
                <option value="3">Arta</option>
                <option value="3">Tajourah</option>
                <option value="3">Oboock</option>
                <option value="3">Djikhil</option>
              </select>
            </div>
          </div>
        </div> -->

        <section class="eve-2">
            <div class="even-11">
                <h4 class="text-success my-2 fw-bold">Top concert & spectacle</h4>
                <div class="even-1">
                    <div class="card" style="width: 18rem;">
                    <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Top concert</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Top concert</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Top concert</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Top concert</p>
                    </div>
                </div>
            </div>
            <a class="btn btn-success my-2" href="/consert&spectacle" role="button">voir plus</a>
            </div>
            <div class="even-2">
                <h4 class="text-success my-5 fw-bold">Top sport</h4>
                <div class="even-1">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success my-2">voir plus</button>
            </div>
            <div class="even-3">
                <h4 class="text-success my-5 fw-bold">Top conpherence</h4>
                <div class="even-1">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success my-2">voir plus</button>
            </div>
            <div class="even-4">
                <h4 class="text-success my-5 fw-bold">Top festival</h4>
                <div class="even-1">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success my-2">voir plus</button>
            </div>
            <div class="even-5">
                <h4 class="text-success my-5 fw-bold">Top théatre</h4>
                <div class="even-1">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success my-2">voir plus</button>
            </div>
            <div class="even-6">
                <h4 class="text-success my-5 fw-bold">Top dessin animé</h4>
                <div class="even-1">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/D.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <p class="card-text">Top concert</p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success my-2">voir plus</button>
            </div>
        </section>
    </main>
{%endblock%}