{% extends 'base_admin.html' %}

{%block content%}
<div>
    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-dark"><a href="/">Acceuil Principale</a></li>
          <li class="breadcrumb-item active"><a href="/User_admin">User</a></li>
        </ol>
      </nav>
    </div>
</div>

<div class="detail_3">
    <!--  detail list  -->
   <div class="recentorder_3">
     <div class="cardheader">
       <h2>Recent Order</h2>

       <table class="table table-striped table-hover" id="table_1">
        <thead class="bg-light">
          <tr>
            <th># :</th>
            <th>Emaim :</th>
            <!-- <th>Password :</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for event in vafid %}
      <tr>
        <td>{{event.id}}</td>
        <td>{{event.email}}</td>
        <!-- <td>{{event.password}}</td> -->
        <td>
          <a href="/App_Event" class="btn btn-success mx-5" role="button">Update </a>
          <a href="/App_Event" class="btn btn-success mx-5" role="button">Delete </a>
        </td>
      </tr>
      {%endfor%}
        </tbody>
      </table>

     </div>
   </div>
</div>
{%endblock%}